html
{    
    width: 1440px;
    height: 700px;
    background-color: #fff88d;
    box-sizing: border-box;
    margin: auto;
}
header
{
    display: flex;
    width: 940px;
    height: 62px;
    justify-content: flex-start;
    
}
.title
{
    font-size: 50px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #d9733d;
    -webkit-text-stroke: 3px #4aaf7a;
    width: 250px;
    height: 62px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 55px;
}
.img
{
    position:absolute;
        margin:auto;
        left: 550px;
}
.start
{
    position:relative;
    font-size: 40px;
    font-family: Arial;
    color: #4aaf7a;
    -webkit-text-stroke: 3px #4aaf7a;
    width: 350px;
    margin: auto;
    padding-top: 400px;
    border-color: antiquewhite;
}
.img2
{
    position:absolute;
    top: 200px;
    left: 100px;
}
.img2-2
{
    position:absolute;
    top: 200px;
    left: 1050px;
}
.word
{
    position:relative;
    font-size: 60px;
    font-family: Arial;
    color: #4aaf7a;
    -webkit-text-stroke: 3px #4aaf7a;
    top:320px;
    width: 500px; 
    margin: auto;
    padding:auto;
}
