html{
	width: 100%;
}

* {
	box-sizing: border-box;
}
p,h1,h2,h3,h4,h4,h6,div,span {
	font-family:PingFangSC-Regular,sans-serif,Microsoft JhengHei;	
}

p {
	font-size: 16px;
}
.banner {
	margin-top: 76px;
}
.banner 
.container-fluid {
	padding:0!important;
	height: 100px;
}

.story {
	padding: 50px 0;
	font-size: 18px;
}

.story span {
	font-style: italic;
	font-size: 20px;
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}
.title_line {
	margin-bottom: 50px;
}
.contact 
{
	height:750px;
	padding-top: 100px;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: top center;
}
.bg 
{
	height:700px;
  background-image: url(../img/stay\ leave.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  background-size: cover;
  background-position: top center;
}
.music
{
	align-content: center;
	text-align: center;
	font-style: normal;
}
.ml10 {
	position: relative;
	font-weight: 900;
	font-size: 4em;
  }
  
  .ml10 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.2em;
	padding-right: 0.05em;
	padding-bottom: 0.1em;
	overflow: hidden;
  }
  
  .ml10 .letter {
	display: inline-block;
	line-height: 1em;
	transform-origin: 0 0;
  }
 .text
 {
	position:relative;
    font-size: 40px;
    font-family: julee;
    color: #000000;
	background-color:#fcfcfc;
    -webkit-text-stroke: 3px #000000;
    width: 250px;
	height: 80px;
    margin: auto;
	text-align: center;
    padding-top: 0;
 
 }
 .about
 {
	width: 100%;
	height: 250px;
	color: #fcfcfc;
	background-color: #000000;
	position: absolute;
	padding: 0; 
	margin: 0;
	left: 0;
 }
 .about p
 {
	font-size: 22px;
	font-family: normal;
	color: #fcfcfc;
	background-color: #000000;
	-webkit-text-stroke: 1px #ffffff;
	position: absolute;
	padding: 0; 
	margin: 0;
	left: 150px;
	top: 60px;
 }
 .about h
 {
	font-size: 16px;
	font-family: normal;
	color: #fcfcfc;
	background-color: #000000;
	-webkit-text-stroke: 1px #ffffff;
	position: absolute;
	padding: 0; 
	margin: 0;
	left: 150px;
	top: 110px;
 }

 .tell p
 {
	font-size: 16px;
	font-family: normal;
	color: #020202;
	-webkit-text-stroke: 0.7px #000000;
 }
 .title
 {
	width: 100%;
	height: 120px;
	color: #fcfcfc;
	background-color: #000000;
	position: absolute;
	padding: 0; 
	margin: 0;
	left: 0;
	top: 0;
	bottom: 20px;
 }
 .title p
 {
	font-size: 22px;
	font-family: normal;
	color: #ffffff;
	-webkit-text-stroke: 1px #ffffff;
	position: absolute;
	padding: 0; 
	margin: 0;
	left: 720px;
	top: 40px;
 }
 .cha
 {
	width: 100%;
	height: 750px;
	padding-top: 10px; 
	color: #000000;
 }
 .cha p
 {
	font-size: 22px;
	font-family: normal;
	color: #000000;
	-webkit-text-stroke: 1px #000000;
	position: absolute;
	padding: 0; 
	margin: 0;
	left: 700px;
 }
 .cha h
 {
	font-size: 18px;
	font-family: normal;
	color: #000000;
	-webkit-text-stroke: 1px #000000;
	position: absolute;
	padding: 0; 
	margin: 0;
	left: 350px;
 }